@{
    ViewBag.Title = "联系";
}



<section class="contact">
    <header>
        <h3>电话</h3>
    </header>
    <p>
     
        <span>18626022764</span>
    </p>
   
</section>

<section class="contact">
    <header>
        <h3>邮箱</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">songbo@songbo.com</a></span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>地址</h3>
    </header>
    <p>
        徐州，江苏
    </p>
</section>