@*@model MyWeibo.ViewModels.HomeViewModel*@
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
                <h2>@ViewBag.Message</h2>
            </hgroup>
            
                
            
        </div>
    </section>
}
@*<h3>We suggest the following:</h3>*@
<ol class="round">
    <li class="one">
        <h5>活跃用户</h5>
       @foreach(var item in Model.users)
                {
                    <li>
                        <div>@item.userName</div>
                        <div>活跃时间 @item.userTime</div>
                    </li>
                }
    </li>

    <li class="two">
        
    </li>

    <li class="three">
        
    </li>
</ol>
